{% extends 'base.html.twig' %}

{% block title %}Vinka-design{% endblock %}

{% block body %}

    <div class="container">
        <!--CARROUSEL -->
        <div class="row mt-5 mb-5 justify-content-center">
            <div class="col-12">
                <div class="carousel slide" id="mi-carousel" data-bs-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="img-fluid w-100" src="images/carrousel/tocadoboda.jpg" alt="imagen 1">
                        </div>
                        <div class="carousel-item">
                            <img class="img-fluid w-100" src="images/carrousel/pajarita1.jpg" alt="imagen 2">
                        </div>
                        <div class="carousel-item">
                            <img class="img-fluid w-100" src="images/carrousel/tocadoPortada.jpg" alt="imagen 3">
                        </div>
                    </div>
                    <!-- Controles my-4 mx-4-->
                    <button class="carousel-control-prev" type="button" data-bs-target="#mi-carousel"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </button>

                    <button class="carousel-control-next" type="button" data-bs-target="#mi-carousel"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Siguiente</span>
                    </button>

                    <!-- Indicadores -->
                    <div class="carousel-indicators">
                        <button type="button" class="active" data-bs-target="#mi-carousel" data-bs-slide-to="0"
                                aria-label="Slide 1"></button>
                        <button type="button" class="" data-bs-target="#mi-carousel" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                        <button type="button" class="" data-bs-target="#mi-carousel" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                    </div>
                </div>
            </div>
        </div>
        <!--TOCADOS -->
        <!-- ===================== COMPONENTS ========================== -->
        <article class="card p-4 mt-5 mb-5">
            <div class="row align-items-center">
                <div class="col">
                    <h4 class="mb-0 text-black">Tocados</h4>
                    <p class="mb-0 text-black-50">Trendy products and text to build on the card title</p>
                </div>
                <div class="col-auto"> <a class="btn btn-gray" href="#">Ver todo</a> </div>
            </div>
        </article>
        <div class="row">
            {% for tocado in tocados %}
                <div class="col-lg-3 col-sm-6 col-12">
                    <figure class="card card-product-grid">
                        <a href="{{ path('app_product_page', {'slug': tocado.slug}) }}" class="img-wrap">
                            <img src="images/products/{{ tocado.mainImage }}" alt="{{ tocado.name }}">
                            <span class="topbar">
                                <span class="badge bg-success"> New </span>
                            </span>
                        </a>
                        <figcaption class="info-wrap border-top">
                            <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                            <a href="#" class="title text-truncate text-capitalize">{{ tocado.name }}</a>
                            <small class="text-muted">Talla &uacute;nica</small>
                            <div class="price-wrap">
                                <strong class="price">$75.50</strong>
                            </div> <!-- price-wrap.// -->
                        </figcaption>
                    </figure> <!-- card // -->
                </div> <!-- col.// -->
            {% endfor %}
        </div> <!-- row.// -->
        <!-- ====================== COMPONENTS END .//======================= -->
        <!--PAMELAS -->
        <article class="card p-4 mt-5 mb-5">
            <div class="row align-items-center">
                <div class="col">
                    <h4 class="mb-0 text-black">Pamelas</h4>
                    <p class="mb-0 text-black-50">Trendy products and text to build on the card title</p>
                </div>
                <div class="col-auto"> <a class="btn btn-gray" href="#">Ver todo</a> </div>
            </div>
        </article>
        <!-- ===================== COMPONENTS ======================== -->
        <div class="row">
            {% for pamela in pamelas %}
                <div class="col-lg-3 col-sm-6 col-12">
                    <figure class="card card-product-grid">
                        <div class="img-wrap">
                            <img src="images/products/{{ pamela.mainImage }}" alt="{{ pamela.name }}">
                        </div>
                        <figcaption class="info-wrap">
                            <span class="text-muted text-capitalize">{{ pamela.name }}</span>
                            <div class="rating-wrap">
                                <ul class="rating-stars">
                                    <li class="stars-active" style="width:50%;">
                                        <img src="../images/misc/stars-active.svg" alt="">
                                    </li>
                                    <li>
                                        <img src="../images/misc/starts-disable.svg" alt="">
                                    </li>
                                </ul>
                                <span class="label-rating text-warning">4.5</span>
                            </div> <!-- rating-wrap.// -->
                        </figcaption>

                        <div class="bottom-wrap">
                            <a href="#" class="btn btn-light btn-icon float-end"> <i class="fa fa-heart"></i> </a>
                            <div class="price-wrap lh-sm">
                                <strong class="price"> $399.50 </strong>
                                <del class="price-old"> $490</del>
                                <br>
                                <small class="text-danger"> Descuento 10% </small>
                            </div> <!-- price-wrap.// -->
                        </div>  <!-- bottom-wrap.// -->
                    </figure> <!-- card // -->
                </div> <!-- col.// -->
            {% endfor %}
        </div> <!-- row.// -->
        <!-- ================== COMPONENTS END .// ======================== -->
        <!--PAJARITAS -->
        <article class="card p-4 mt-5 mb-5">
            <div class="row align-items-center">
                <div class="col">
                    <h4 class="mb-0 text-black text-center">Pajaritas</h4>
                    <p class=" text-center mb-0 text-black-50">Trendy products and text to build on the card title</p>
                </div>
                <div class="col-auto"> <a class="btn btn-gray" href="#">Ver todo</a> </div>
            </div>
        </article>
        <div class="card card-body">
            <div class="row gy-3 gx-1 gx-md-3">
                {% for pajarita in pajaritas %}
                    <div class="col-xl col-lg-3 col-6">
                        <a href="#" class="card-product-grid mb-0">
                            <div class="img-wrap">
                                <img class="img-thumbnail"
                                     src="images/products/{{ pajarita.mainImage }}"
                                     alt="{{ pajarita.name }}">
                            </div>
                            <div class="text-center mt-2">
                                <p class="title">{{ pajarita.name }}</p>
                                <div class="price text-muted">$99.00</div> <!-- price.// -->
                            </div>
                        </a> <!-- card // -->
                    </div> <!-- col.// -->
                {% endfor %}
            </div> <!-- row.// -->
        </div> <!-- card // -->
    </div>
{% endblock %}
