{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <!-- ============== SECTION CONTENT  ============== -->
    <section class="padding-y bg-light" style="min-height:90vh">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-4">
                    <!-- =========== COMPONENT LOGIN =========== -->
                    <div class="card">
                        <div class="card-body">
                            <h4 class="mb-4">Iniciar sesi&oacute;n</h4>
                            <form action="{{ path('app_login') }}" method="post">
                                <div class="mb-3">
                                    <label for="username" class="form-label">Email</label>
                                    <input class="form-control"
                                           placeholder="ex. name@gmail.com"
                                           type="email" id="username"
                                           name="_username"
                                           value="{{ last_username }}">
                                </div> <!-- col end.// -->

                                <div class="mb-3">
                                    <label for="password" class="form-label">Contrase単a</label>
                                    <a class="float-end" href="#">Olvide mi contrase単a</a>
                                    <input class="form-control"
                                           placeholder="Introduce tu contrase単a"
                                           type="password"
                                           id="password"
                                           name="_password">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                </div> <!-- col end.// -->

                                <div class="mb-3">
                                    <label class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" checked>
                                        <span class="form-check-label"> Remember </span>
                                    </label>
                                </div>

                                <button class="btn w-100 btn-primary" type="submit"> Iniciar sesi&oacute;n </button>

                            </form> <!-- form end.// -->

                            <p class="text-divider my-4">多Nuevo usuario?</p>
                            <a href="{{ path('app_register') }}" class="btn w-100 btn-light">Crea una cuenta</a>

                        </div> <!-- card-body end.// -->
                    </div> <!-- card end.// -->
                    <!-- ============= COMPONENT LOGIN  END.// ============= -->
                    <br><br>
                </div>
            </div>
        </div> <!-- container .//  -->
    </section>
    <!-- ============== SECTION CONTENT END// ============== -->

{% endblock %}
