{% extends 'base.html.twig' %}

{% block title %}Hello CheckoutController!{% endblock %}

{% block body %}
    <form method="post" action="{{path('app_post_checkout')}}">
        <section class="padding-y bg-light">
            <div class="container">
                <div class="row justify-content-center">
                    <main class="col-lg-8">
                        <article class="card">
                            <div class="card-body">
                                <h5 class="card-title">Informaci&oacute;n de contacto</h5>
                                <div class="row">
                                    <div class="col-6 mb-3">
                                        <label class="form-label">Nombre</label>
                                        <input type="text" class="form-control" placeholder="Escriba aquí" name="name">
                                    </div> <!-- col end.// -->

                                    <div class="col-6">
                                        <label class="form-label">Apellido</label>
                                        <input type="text" class="form-control" placeholder="Escriba aquí" name="last_name">
                                    </div> <!-- col end.// -->

                                    <div class="col-lg-6 mb-3">
                                        <label class="form-label">Tel&eacute;fono</label>
                                        <input type="text" value="+34" class="form-control" placeholder="" name="phone">
                                    </div> <!-- col end.// -->

                                    <div class="col-lg-6 mb-3">
                                        <label class="form-label">Email</label>
                                        <input type="text" class="form-control" placeholder="ejemplo@gmail.com"
                                               value="{{ cart.user.email }}">
                                    </div> <!-- col end.// -->
                                </div> <!-- row.// -->

                                <hr class="my-4">

                                <h5 class="card-title">Opciones de envio</h5>

                                <div class="row mb-3">
                                    <div class="col-lg-4 mb-3">
                                        <div class="box box-check">
                                            <label class="form-check">
                                                <input class="form-check-input" type="radio" name="dostavka" checked>
                                                <b class="border-oncheck"></b>
                                                <span class="form-check-label">
								 Envío estandar  <br>
								<small class="text-muted">3-4 días via Correos </small>
							</span>
                                            </label>
                                        </div>
                                    </div> <!-- col end.// -->
                                    <div class="col-lg-4 mb-3">
                                        <div class="box box-check">
                                            <label class="form-check">
                                                <input class="form-check-input" type="radio" name="dostavka">
                                                <b class="border-oncheck"></b>
                                                <span class="form-check-label">
								Recoger en tienda <br>
								<small class="text-muted">Calle XXX Nº10</small>
							</span>
                                            </label>
                                        </div>
                                    </div> <!-- col end.// -->
                                </div> <!-- row end.// -->

                                <div class="row">
                                    <div class="col-sm-8 mb-3">
                                        <label class="form-label">Dirección</label>
                                        <input type="text" class="form-control" placeholder="Escriba aquí" name="address">
                                    </div> <!-- col end.// -->

                                    <div class="col-sm-4 mb-3">
                                        <label class="form-label">Ciudad*</label>
                                        <input type="text" class="form-control" placeholder="Escriba aquí" name="city">
                                    </div> <!-- col end.// -->

                                    <div class="col-sm-4 col-6 mb-3">
                                        <label class="form-label">Piso</label>
                                        <input type="text" class="form-control" name="floor">
                                    </div> <!-- col end.// -->

                                    <div class="col-sm-4 col-6 mb-3">
                                        <label class="form-label">Número</label>
                                        <input type="text" class="form-control" name="number">
                                    </div> <!-- col end.// -->

                                    <div class="col-sm-4 col-6 mb-3">
                                        <label class="form-label">Código postal</label>
                                        <input type="text" class="form-control" name="zip_code">
                                    </div> <!-- col end.// -->
                                </div> <!-- row.// -->

                                <label class="form-check mb-4">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label"> Guardar dirección </span>
                                </label>

                            </div> <!-- card-body end.// -->
                        </article> <!-- card end.// -->
                    </main> <!-- col.// -->
                </div> <!-- row.// -->
                <br><br>
                <div class="row justify-content-center">
                    <main class="col-lg-8">
                        <!-- ============== COMPONENT PAY  =============== -->
                        <article class="card">
                            <div class="card-body">

                                <h5 class="card-title">Método de pago</h5>

                                <div class="accordion" id="accordion_payment">
                                    <article class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                                                Tarjeta
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" data-bs-parent="#accordion_payment"
                                             class="accordion-collapse collapse">
                                            <div class="accordion-body disabled">
                                                <div class="alert alert-success " role="alert">
                                                    Desactivado temporalmente
                                                </div>
                                                <!-- payment-form -->
                                                <div class="row g-2">
                                                    <div class="col-sm-4">
                                                        <label class="form-label">Número</label>
                                                        <input type="text" class="form-control" disabled
                                                               placeholder="xxxx-xxxx-xxxx-xxxx">
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <label class="form-label">Fecha de expiración</label>
                                                        <input type="text" class="form-control" placeholder="dd/yy" disabled>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <label class="form-label">CVV</label>
                                                        <input type="text" class="form-control" placeholder="cvc" disabled>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <label class="form-label d-block"> &nbsp; </label>
                                                        <button class="btn btn-success d-block disabled"> Confirmar</button>
                                                    </div>
                                                </div>
                                                <!-- payment-form .// -->
                                            </div>
                                        </div>
                                    </article> <!-- accardion-item end.// -->

                                    <article class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#collapseThree">
                                                Transferencia bancaria
                                            </button>
                                        </h2>
                                        <div id="collapseThree" data-bs-parent="#accordion_payment"
                                             class="accordion-collapse collapse">
                                            <div class="accordion-body">
                                                <p>
                                                    Caixa, Número de cuenta: 12345678912346 <br>
                                                    IBAN: 12345
                                                </p>
                                            </div>
                                        </div>
                                    </article> <!-- accardion-item end.// -->
                                </div> <!-- accardion-item end.// -->


                            </div> <!-- card-body end.// -->
                        </article> <!-- card end.// -->
                        <!-- ============== COMPONENT PAY .// =============== -->

                    </main> <!-- col.// -->
                </div>
                <div class="row justify-content-center mt-5">
                    <main class="col-lg-8">
                        <!-- ============== COMPONENT RECEIPE =============== -->
                        <article class="card">
                            <div class="card-body">
                                <h5 class="card-title"> Resumen </h5>
                                <figure class="itemside mb-3">
                                    <div class="aside">
                                    <span class="icon-sm text-primary bg-primary-light rounded"><i
                                                class="fab fa-lg fa-paypal"></i></span>
                                    </div>
                                    <figcaption class="info lh-sm">
                                        <strong>Orden ID: 2313440</strong> <br>
                                        <span class="text-muted">{{ "now"|date("d-m-Y") }}</span>
                                    </figcaption>
                                </figure>
                                <dl class="dlist-align">
                                    <dt>Metodo de pago:</dt>
                                    <dd>Transferencia bancaria</dd>
                                </dl>
                                <dl class="dlist-align">
                                    <dt>Nombre: {{ cart.user.email }}</dt>
                                    <dd></dd>
                                </dl>
                                <dl class="dlist-align">
                                    <dt>Total: {{ cart.totalPrice }}</dt>
                                    <dd></dd>
                                </dl>
                                <hr>
                            </div>
                            <div class="row justify-content-center mb-3">
                                <div class="col-4">
                                    <a href="{{ path('app_home') }}">
                                        <button class="btn btn-primary">Aceptar</button>
                                    </a>
                                    <a href="{{ path('app_home') }}">
                                        <button class="btn btn-light">Cancelar</button>
                                    </a>
                                </div>
                            </div>

                        </article>
                        <!-- ============== COMPONENT RECEIPE .// =============== -->
                    </main> <!-- col.// -->
                </div> <!-- row.// -->
                <br><br>
            </div> <!-- container end.//  -->
        </section>
    </form>
{% endblock %}
